{# Set routes #}
{% set routes = {
	show: 'admin_institution_institution_show'
} %}

<div class="row mt-3">
	<div class="col col-lg-8 offset-lg-2">
			<p class="lead small text-muted mb-3">
				{{ "Utiliser ce formulaire pour ajouter une institution"|trans }}
			</p>
		<div>
			{{ form_start(form) }}
				{{ form_errors(form) }}
	  			<div class="row">
	  				<div class="col-12 col-lg-3" data-type="profile-pic-container">
						<p class="text-center">
							{% if entity.hasImage %}
								<img src="{{ vich_uploader_asset(entity.image, 'file') | imagine_filter('thumb_512x512') }}" 
									alt="{{ "Logo"|trans }}" class="img-thumbnail" data-type="profile-pic">
							{% else %}
								<img src="{{ asset("images/logo.png") | imagine_filter('thumb_512x512') }}" 
									alt="{{ "Logo"|trans }}" class="img-thumbnail" data-type="profile-pic">
							{% endif %}
						</p>
						<span class="btn btn-block btn-sm btn-primary mt-2 btn-upload" data-type="upload-btn"
								data-label-default="{{ "Ajouter un logo"|trans }}" 
								data-label-selected="{{ "Changer le logo"|trans }}">
							<span>{{ "Ajouter un logo"|trans }}</span>
							{{ form_widget(form.image.file) }}
						</span>
	  				</div>
	  				<div class="col-12 col-lg">
			  			<div class="row">
			  				<div class="col-12 col-lg">
					  			{{ form_row(form.name, {label: "Nom", 
					  				help: "Veuillez indiquer votre nom correctement", 
					  				attr: {class: "border-light-lg", placeholder: "Entrer le nom"}}) }}
			  				</div>
			  				<div class="col-12 col-lg">
			  					{{ form_row(form.type, {label: "Type", 
					  				help: "Veuillez indiquer le type de l'institution", 
					  				attr: {class: "border-light-lg", placeholder: "Entrer le type"}}) }}
			  				</div>
			  			</div>
			  			<div class="row">
			  				<div class="col-12 col-lg">
					  			{{ form_row(form.phone, {label: "Téléphone", 
					  				help: "Veuillez indiquer votre numero de téléphone", 
					  				attr: {class: "border-light-lg", placeholder: "Entrer le numero de téléphone"}}) }}
			  				</div>
			  				<div class="col-12 col-lg">
			  					{{ form_row(form.email, {label: "Email", 
					  				help: "Veuillez indiquer votre email", 
					  				attr: {class: "border-light-lg", placeholder: "Entrer l'email"}}) }}
			  				</div>
			  			</div>
			  			<div class="row">
			  				<div class="col-12 col-lg">
					  			{{ form_row(form.website, {label: "Site internet", 
					  				help: "Veuillez indiquer l'url de votre site internet", 
					  				attr: {class: "border-light-lg", placeholder: "Entrer l'url"}}) }}
			  				</div>
			  				<div class="col-12 col-lg">
			  					{{ form_row(form.slogan, {label: "Slogan", 
					  				help: "Veuillez indiquer votre slogan", 
					  				attr: {class: "border-light-lg", placeholder: "Entrer le slogan"}}) }}
			  				</div>
			  			</div>
			  			<div class="row">
			  				<div class="col-12 col-lg">
					  			{{ form_row(form.address.fullname, {label: "Adresse complete", 
					  				help: "Veuillez indiquer l'adresse complete", 
					  				attr: {class: "border-light-lg", placeholder: "Entrer l'adresse"}}) }}
			  				</div>
			  				<div class="col-12 col-lg">
			  					{{ form_row(form.address.city, {label: "Ville", 
					  				help: "Veuillez indiquer votre ville", 
					  				attr: {class: "border-light-lg", placeholder: "Entrer la ville"}}) }}
			  				</div>
			  			</div>
			  			<div class="row">
			  				<div class="col-12 col-lg">
			  					{{ form_row(form.address.country, {label: "Pays", 
					  				help: "Veuillez indiquer votre pays", 
					  				attr: {class: "border-light-lg", placeholder: "Entrer le pays"}}) }}
			  				</div>
			  				<div class="col-12 col-lg">
								{{ form_row(form.enabled, {label: "Active", 
									help: "Veuillez indiquer si l'institution est active ou pas.", 
									label_attr: {class: 'checkbox-custom'}}) }}
			  				</div>
			  			</div>

			  			<h3 class="mt-4">{{ "Maire" }}</h3>
			  			<div class="row">
			  				<div class="col-12 col-lg">
					  			{{ form_row(form.mayor.firstname, {label: "Nom", 
					  				help: "Veuillez indiquer le nom correctement", 
					  				attr: {class: "border-light-lg", placeholder: "Entrer le nom"}}) }}
			  				</div>
			  				<div class="col-12 col-lg">
					  			{{ form_row(form.mayor.lastname, {label: "Prénom", 
					  				help: "Veuillez indiquer le prénom correctement", 
					  				attr: {class: "border-light-lg", placeholder: "Entrer le prénom"}}) }}
			  				</div>
			  			</div>
			  			<div class="row">
			  				<div class="col-12 col-lg">
					  			{{ form_row(form.mayor.email, {label: "Email", 
					  				help: "Veuillez indiquer l'email correctement", 
					  				attr: {class: "border-light-lg", placeholder: "Entrer l'email"}}) }}
			  				</div>
			  				<div class="col-12 col-lg">
					  			{{ form_row(form.mayor.phone, {label: "Téléphone", 
					  				help: "Veuillez indiquer le numéro de téléphone correctement", 
					  				attr: {class: "border-light-lg", placeholder: "Entrer le numéro de téléphone"}}) }}
			  				</div>
			  			</div>
			  			<div class="row">
			  				<div class="col-12 col-lg">
					  			{{ form_row(form.mayor.bio, {label: "Biographie", 
					  				help: "Veuillez indiquer la biographie", 
					  				attr: {class: "border-light-lg", placeholder: "Entrer la biographie"}}) }}
			  				</div>
			  				<div class="col-12 col-lg">
			  				</div>
			  			</div>

				  		<div class="row mt-4">
				  			{% if form.saveAndCreateNew is defined %}
				  				<div class="col-12 col-lg">
				  					<button type="submit" class="btn btn-block btn-dark mb-3">{{ "Creer"|trans }}</button>
				  				</div>
				  				<div class="col-12 col-lg">
					  				{{ form_widget(form.saveAndCreateNew, 
					  					{label: "Créer et nouveau", attr: {class: "btn-block btn btn-secondary mb-3"}}) }}
				  				</div>
				  			{% else %}
				  				<div class="col-12 col-lg">
				  					<button type="submit" class="btn btn-block btn-dark mb-3">{{ "Modifier"|trans }}</button>
				  				</div>
				  			{% endif %}
				  			<div class="col-12 col-lg">
				  				<a href="{{ path(routes.show) }}" class="btn btn-block btn-light mb-3">
				  					{{ "Annuler"|trans }}
				  				</a>
				  			</div>
				  		</div>
	  				</div>
	  			</div>
			{{ form_end(form) }}
		</div>
	</div>
</div>