{% extends 'super_admin/layout.html.twig' %}

{# Set vars #}
{% set currentModule = "dashboard" %}

{# Title #}
{% block title %}
    {{ parent() }}
{% endblock title %}

{# Heading #}
{% block layout_header %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent small mb-2 p-0">
            <li class="breadcrumb-item active" aria-current="page">{{ app.user.username|title }}</li>
            <li class="breadcrumb-item active" aria-current="page">{{ "Dashboard"|trans }}</li>
        </ol>
    </nav>

    <h1 class="h2 text-light-black">{{ "Tableau de bord"|trans }}</h1>
{% endblock %}

{# Body #}
{% block layout_container %}
    
    {# Info card #}
    <section class="info-card my-4">
        <div class="row">
            <div class="col-12 col-lg mb-3 mb-lg-0">
                <div class="border border-bottom-0 rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-lg-4 text-center text-lg-left">
                            <i class="fa fa-users fa-4x text-primary"></i>
                        </div>
                        <div class="col text-center text-lg-right mt-3 mt-lg-0">
                            <span class="h3 d-block">123</span>
                            <small class="d-block text-muted">{{ "Utilisateurs"|trans }}</small>
                        </div>
                    </div>
                </div>
                <div class="bg-light border rounded-bottom">
                    <a href="" class="btn btn-link btn-block text-primary btn-light text-left">
                        <i class="far fa-arrow-alt-circle-right float-right mt-1"></i>
                        <span class="small">{{ "Voir plus"|trans }}</span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg mb-3 mb-lg-0">
                <div class="border border-bottom-0 rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-lg-4 text-center text-lg-left">
                            <i class="fa fa-university fa-4x text-info"></i>
                        </div>
                        <div class="col text-center text-lg-right mt-3 mt-lg-0">
                            <span class="h3 d-block">100</span>
                            <small class="d-block text-muted">{{ "Institutions"|trans }}</small>
                        </div>
                    </div>
                </div>
                <div class="bg-light border rounded-bottom">
                    <a href="" class="btn btn-link btn-block text-info btn-light text-left">
                        <i class="far fa-arrow-alt-circle-right float-right mt-1"></i>
                        <span class="small">{{ "Voir plus"|trans }}</span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg mb-3 mb-lg-0">
                <div class="border border-bottom-0 rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-lg-4 text-center text-lg-left">
                            <i class="fa fa-envelope fa-4x text-danger"></i>
                        </div>
                        <div class="col text-center text-lg-right mt-3 mt-lg-0">
                            <span class="h3 d-block">345</span>
                            <small class="d-block text-muted">{{ "Messages"|trans }}</small>
                        </div>
                    </div>
                </div>
                <div class="bg-light border rounded-bottom">
                    <a href="" class="btn btn-link text-danger btn-block btn-light text-left">
                        <i class="far fa-arrow-alt-circle-right float-right mt-1"></i>
                        <span class="small">{{ "Voir plus"|trans }}</span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg mb-3 mb-lg-0">
                <div class="border border-bottom-0 rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-lg-4 text-center text-lg-left">
                            <i class="fa fa-map-marker-alt fa-4x text-warning"></i>
                        </div>
                        <div class="col text-center text-lg-right mt-3 mt-lg-0">
                            <span class="h3 d-block">{{ location_count }}</span>
                            <small class="d-block text-muted">{{ "Locations"|trans }}</small>
                        </div>
                    </div>
                </div>
                <div class="bg-light border rounded-bottom">
                    <a href="{{ path("super_admin_location") }}" 
                        class="btn btn-link text-warning btn-block btn-light text-left">
                        <i class="far fa-arrow-alt-circle-right float-right mt-1"></i>
                        <span class="small">{{ "Voir plus"|trans }}</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    {# Calendar graph for messages #}
    <section class="calendar-graph mt-5 pt-4">
        <div class="row">
            <div class="col-12 col-lg-9">
                <h4 class="display-5 text-dark-gray">{{ "Flux des messages"|trans }}</h4>
                <p class="lead small text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <div>
                    <div class="border p-4">
                        <div data-type="calendar-graph"></div>
                        <div class="calendar-graph-legend">
                            <ul class="list-unstyled d-flex mb-0 mr-4 align-items-center justify-content-end">
                                <li class="small align-top mr-3"><small class="text-muted">{{ "Min" }}</small></li>
                                <li class="item mr-2"></li>
                                <li class="item mr-2"></li>
                                <li class="item mr-2"></li>
                                <li class="item mr-2"></li>
                                <li class="item mr-3"></li>
                                <li class="small align-top"><small class="text-muted">{{ "Max" }}</small></li>
                            </ul>
                        </div>
                    </div>
                    <div id="tooltip"></div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <h4 class="display-5 text-dark-gray">{{ "Utilisateurs"|trans }}</h4>
                <p class="lead small text-muted">
                    {{ "Repartition des utilisateurs"|trans }}
                </p>
                <div class="border p-3">
                    <canvas data-type="pie-chart"></canvas>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
