{% extends 'admin/layout.html.twig' %}

{% set currentModule = "fleet" %}
{% set notifMsg = "" %}
{% set notifType = "" %}

{% set routes = {
	index: 'admin_fleetmanagement_repair_index',
	new: 'admin_fleetmanagement_repair_new',
	edit: 'admin_fleetmanagement_repair_edit',
	show: 'admin_fleetmanagement_repair_show',
	delete: 'admin_fleetmanagement_repair_delete'
} %}

{# Title #}
{% block title %}
    {{ parent() }} - 
    {{ "Lister véhicules"|trans }}
{% endblock title %}

{# Heading #}
{% block layout_header %}
<div class="row mt-3" data-notify="{{ notifMsg }}" data-notify-type="{{ notifType }}">
	<div class="col col-lg-6 offset-lg-3">
	    <nav aria-label="breadcrumb">
	        <ol class="breadcrumb bg-transparent small mb-2 p-0">
	            <li class="breadcrumb-item active" aria-current="page">{{ app.user.username|title }}</li>
	            <li class="breadcrumb-item active" aria-current="page">{{ "Réparation"|trans }}</li>
	            <li class="breadcrumb-item active" aria-current="page">{{ "Nouveau"|trans }}</li>
	        </ol>
	    </nav>

	    <div class="d-flex align-items-center">
			<h1 class="h2 text-light-black">{{ "Nouvelle réparation"|trans|title }}</h1>
	    </div>
	</div>
</div>
{% endblock %}
{% block layout_container %}

    {{ include('admin/fleetmanagement/repair/_form.html.twig') }}
{% endblock %}
