{% extends 'admin/layout.html.twig' %}

{# Set vars #}
{% set currentModule = "location" %}

{# Flash messages #}
{% set notifMsg = "" %}
{% set notifType = "" %}

{% for type, messages in app.flashes %}
    {% for message in messages %}
		{% set notifMsg = message %}
		{% set notifType = type %}
    {% endfor %}
{% endfor %}


{# Title #}
{% block title %}
    {{ parent() }} - 
    {{ "Nouvelle localité"|trans }}
{% endblock title %}

{# Heading #}
{% block layout_header %}
<div class="row mt-3" data-notify="{{ notifMsg }}" data-notify-type="{{ notifType }}">
	<div class="col col-lg-8 offset-lg-2">
	    <nav aria-label="breadcrumb">
	        <ol class="breadcrumb bg-transparent small mb-2 p-0">
	            <li class="breadcrumb-item active" aria-current="page">{{ app.user.username|title }}</li>
	            <li class="breadcrumb-item active" aria-current="page">{{ "Localité"|trans }}</li>
	            <li class="breadcrumb-item active" aria-current="page">{{ "Nouveau"|trans }}</li>
	        </ol>
	    </nav>

	    <div class="d-flex align-items-center">
			<h1 class="h2 text-light-black">{{ "Nouvelle localité"|trans|title }}</h1>
	    </div>
	</div>
</div>
{% endblock %}

{# Body #}
{% block layout_container %}
	{{ include('admin/location/_form.html.twig') }}
{% endblock %}
