<div class="aside-menu mt-3">
	<ul class="list-unstyled">
	    <li>
	    	<a href="{{ path("admin_user_show", {id: app.user.id}) }}" 
	    		class="btn btn-block border-0 btn-light text-center text-lg-left pl-2 pl-lg-1">
	    		{% if app.user.profile is not null and app.user.profile.hasImage %}
	    			<img src="{{ vich_uploader_asset(app.user.profile.image, 'file') | imagine_filter('thumb_64x64') }}" 
								alt="{{ "Photo de profil"|trans }}" width="40px" class="mr-lg-3 rounded">
	    		{% else %}
	    		    <img src="{{ asset("images/avatar.png") | imagine_filter('thumb_64x64') }}" 
	    		    	alt="{{ "Photo de profil"|trans }}" width="40px" class="mr-lg-3 rounded">
	    		{% endif %}
	    		
				<span class="h6 d-none d-lg-inline">{{ app.user.username|title }}</span>
	    	</a>
	    </li>
	    <li class="mt-2">
	    	<a href="{{ path("admin_dashboard") }}" 
	    	class="btn btn-block border-0 btn-light btn-lg text-center text-lg-left 
	    	{% if currentModule is defined and currentModule == "dashboard" %}selected{% endif %}">
	    		<i class="fas fa-tachometer-alt mr-lg-3 fa-fw"></i>
	    		<span class="small d-none d-lg-inline">{{ "Dashboard"|trans }}</span>
	    	</a>
	    </li>
	    <li class="mt-1">
	    	<a href="{{ path("admin_user") }}" class="btn btn-block border-0 btn-light btn-lg text-center text-lg-left 
	    	{% if currentModule is defined and currentModule == "user" %}selected{% endif %}">
	    		<i class="fas fa-users mr-lg-3 fa-fw"></i>
	    		<span class="small d-none d-lg-inline">{{ "Utilisateur"|trans }}</span>
	    	</a>
	    </li>
	    <li class="mt-1"> 
	    	<a href="{{ path("admin_institution_institution_show") }}" 
	    		class="btn btn-block border-0 btn-light btn-lg text-center text-lg-left {% if currentModule is defined and currentModule == "institution" %}selected{% endif %}">
	    		<i class="fas fa-university mr-lg-3 fa-fw"></i>
	    		<span class="small d-none d-lg-inline">{{ "Institution"|trans }}</span>
	    	</a>
	    </li>
	    <li class="mt-1">
	    	<a href="{{ path("admin_message_message") }}" 
	    		class="btn btn-block border-0 btn-light btn-lg text-center text-lg-left  
	    	{% if currentModule is defined and currentModule == "message" %}selected{% endif %}">
	    		<i class="fas fa-envelope mr-lg-3 fa-fw"></i>
	    		<span class="small d-none d-lg-inline">{{ "Message"|trans }}</span>
	    	</a>
	    </li>
	    <li class="mt-1">
	    	<a href="{{ path("admin_location") }}" 
	    		class="btn btn-block border-0 btn-light btn-lg text-center text-lg-left  
	    	{% if currentModule is defined and currentModule == "location" %}selected{% endif %}">
	    		<i class="fas fa-map-marker-alt mr-lg-3 fa-fw"></i>
	    		<span class="small d-none d-lg-inline">{{ "Location"|trans }}</span>
	    	</a>
	    </li>
	    <li class="mt-1">
	    	<a href="{{ path("admin_user") }}" class="btn btn-block border-0 btn-light btn-lg text-center text-lg-left  
	    	{% if currentModule is defined and currentModule == "flotte" %}selected{% endif %}">
	    		<i class="fas fa-truck mr-lg-3 fa-fw"></i>
	    		<span class="small d-none d-lg-inline">{{ "Flotte"|trans }}</span>
	    	</a>
			<ul>
				<li>
					<a href="{{ path("admin_fleetmanagement_vehicle_index") }}" class="btn btn-block border-0 btn-light btn-lg text-center text-lg-left  
					{% if currentModule is defined and currentModule == "flotte" %}selected{% endif %}">
						<!--<i class="fas fa-truck mr-lg-3 fa-fw"></i>-->
						<span class="small d-none d-lg-inline">{{ "Vehicules"|trans }}</span>
					</a>
				</li>
				<li>
					<a href="{{ path("admin_fleetmanagement_vehicle_category_index") }}" class="btn btn-block border-0 btn-light btn-lg text-center text-lg-left  
					{% if currentModule is defined and currentModule == "flotte" %}selected{% endif %}">
						<!--<i class="fas fa-truck mr-lg-3 fa-fw"></i>-->
						<span class="small d-none d-lg-inline">{{ "Types de Vehicule"|trans }}</span>
					</a>
				</li>
			</ul>
	    </li>
	</ul>

	<div class="bottom-helper">
		<div class="row p-0">
			<div class="col-3 col-lg-2 p-0">
				<div class="wrapper">
					<div class="row mx-lg-0">
						<div class="col-12 col-lg px-lg-0 w-25 ml-lg-2">
							<div class="dropup" data-toggle="tooltip" data-placement="top" 
								title="{{ "Changer la langue"|trans }}">
							  	<a href="" class="btn btn-block btn-dark border-0 py-2 rounded-0 dropdown-toggle" 
							  		data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-globe"></i>
								</a>
							  	<div class="dropdown-menu">
							  		<h6 class="dropdown-header small text-dark-gray">{{ "Changer la langue"|trans }}</h6>
							    	<a class="dropdown-item small active" href="#">{{ "Français"|trans }}</a>
								    <a class="dropdown-item small" href="#">{{ "English"|trans }}</a>
								    <a class="dropdown-item small" href="#">{{ "Español"|trans }}</a>
							  	</div>
							</div>
						</div>
						<div class="col-12 col-lg px-lg-0 w-25">
							<a href="{{ path("admin_user_profile_edit") }}" 
								class="btn btn-block btn-dark border-0 py-2 rounded-0" 
								title="{{ "Modifier profil"|trans }}" data-toggle="tooltip" data-placement="top">
								<i class="far fa-user-circle fa-lg"></i>
							</a>
						</div>
						<div class="col-12 col-lg px-lg-0 w-25">
							<a href="{{ path("admin_user_change_password") }}" 
								class="btn btn-block btn-dark border-0 py-2 rounded-0" 
								title="{{ "Changer mot de passe"|trans }}" data-toggle="tooltip" data-placement="top">
								<i class="fas fa-unlock-alt"></i>
							</a>
						</div>
						<div class="col-12 col-lg px-lg-0 w-25">
							<a href="{{ path("frontend_user_security_logout") }}" 
								class="btn btn-block btn-dark border-0 py-2 rounded-0" 
								title="{{ "Se deconnecter"|trans }}" data-toggle="tooltip" data-placement="top">
								<i class="fas fa-sign-out-alt fa-lg"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>