<div class="row mt-3">
	<div class="col col-lg-6 offset-lg-3">
        <p class="lead small text-muted mb-3">
            {{ "Utiliser ce formulaire pour ajouter des locations"|trans }}
        </p>
		<div>
            {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.reg_no, {
                    label: "Numero de la plaque",
	  				help: "Veuillez indiquer le numero de la plaque.", 
	  				attr: {class: "border-light-lg", placeholder: "Entrer le numero de la plaque"}}) }}
                {{ form_row(form.category, {
                    label: "Type", 
	  				help: "Veuillez choisir le type.", 
	  				attr: {class: "border-light-lg"}}) }}
                {{ form_widget(form) }}
                <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
