<footer class="footer">
	<div class="top pt-5 pb-4">
		<div class="container">
			<div class="row">
				<div class="col-lg">
					<h3 class="h5 text-white">{{ "Informations"|trans }}</h3>
					<ul class="list-unstyled mb-lg-0">
						<li><a href="#" class="btn btn-link pl-0">{{ "Aide"|trans }}</a></li>
						<li><a href="#" class="btn btn-link pl-0">{{ "A Propos"|trans }}</a></li>
						<li><a href="#" class="btn btn-link pl-0">{{ "Confidentialités"|trans }}</a></li>
						<li><a href="#" class="btn btn-link pl-0">{{ "Termes et conditions"|trans }}</a></li>
					</ul>
				</div>
				<div class="col-lg">
					<h3 class="h5 text-white">{{ "Suivez nous"|trans }}</h3>
					<ul class="list-unstyled mb-lg-0">
						<li><a href="#" class="btn btn-link pl-0">{{ "Facebook"|trans }}</a></li>
						<li><a href="#" class="btn btn-link pl-0">{{ "Twitter"|trans }}</a></li>
						<li><a href="#" class="btn btn-link pl-0">{{ "Google plus"|trans }}</a></li>
						<li><a href="#" class="btn btn-link pl-0">{{ "Linked In"|trans }}</a></li>
					</ul>
				</div>
				<div class="col-lg">
					<p class="text-white small mb-3">
						4578 Juvenat, <br>
						Haiti D04 89GR. <br>
						Telephone: 001-509-xxxx-xxxx <br>
						E-mail: mail@katyepwop.org
					</p>
				</div>
				<div class="col-lg">
					<h3 class="h5 text-white">{{ "Katye Pwop"|trans }}</h3>
					<p class="small mb-3">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom py-2">
		<div class="container">
			<p class="small m-0"><small>{{ "Katye Pwop @ 2018. Tous droits réservés"|trans }}</small></p>
		</div>
	</div>
</footer>