{% extends 'super_admin/layout.html.twig' %}

{# Set vars #}
{% set currentModule = "institution" %}

{# Flash messages #}
{% set notifMsg = "" %}
{% set notifType = "" %}

{% for type, messages in app.flashes %}
    {% for message in messages %}
		{% set notifMsg = message %}
		{% set notifType = type %}
    {% endfor %}
{% endfor %}

{# Set routes #}
{% set routes = {
	index: 'super_admin_institution_institution',
	new: 'super_admin_institution_institution_new',
	edit: 'super_admin_institution_institution_edit',
	show: 'super_admin_institution_institution_show',
	delete: 'super_admin_institution_institution_delete'
} %}

{# Title #}
{% block title %}
    {{ parent() }} - 
    {{ "Afficher institution"|trans }}
{% endblock title %}

{# Heading #}
{% block layout_body_container %}

	<div class="col bg-white px-5 py-4" data-notify="{{ notifMsg }}" data-notify-type="{{ notifType }}">

		{# Header #}

		<header id="header" class="header mt-2">
		    <nav aria-label="breadcrumb">
		        <ol class="breadcrumb bg-transparent small mb-2 p-0">
		            <li class="breadcrumb-item active" aria-current="page">{{ app.user.username|title }}</li>
		            <li class="breadcrumb-item active" aria-current="page">{{ "Institution"|trans }}</li>
		            <li class="breadcrumb-item active" aria-current="page">{{ "Afficher"|trans }}</li>
		        </ol>
		    </nav>

		    <div class="d-flex align-items-center">
				<h1 class="h2 text-light-black">{{ "Afficher institution"|trans|title }}</h1>
		    </div>
		</header>
		

		{# Body #}
		<div class="center-container mt-3 mb-5">
			
			<p class="lead small text-muted mb-4">{{ "Fiche detaillée d'une institution"|trans }}</p>

			<div class="d-flex align-items-center">
				<h2 class="display-5 mb-0 text-dark-gray">{{ "Info basique"|trans }}</h2>
				<a data-toggle="collapse" href="#collapse1" role="button" aria-expanded="true" 
					aria-controls="collapse1" class="btn btn-link text-gray-dark ml-auto text-danger">
					<i class="fas fa-fw fa-sort"></i>
				</a>
			</div>
			<hr class="my-2">
			<div id="collapse1" class="collapse show mt-4">
				<div class="row mb-4">
					<div class="col-12 col-lg-3">
						<p class="mb-1">
							{% if entity.brand is not empty %}
				    			<img src="{{ vich_uploader_asset(entity.brand, 'file') 
				    				| imagine_filter('thumb_256x256') }}"
				    				alt="{{ "Logo"|trans }}" class="img-thumbnail">
				    		{% else %}
				    		    <img src="{{ asset("images/logo.png") | imagine_filter('thumb_256x256') }}" 
				    		    	alt="{{ "Photo de profil"|trans }}" class="img-thumbnail">
				    		{% endif %}
						</p>
						<p class="lead small text-center font-italic text-muted">{{ "Logo de l'institution..."|trans }}</p>
					</div>
					<div class="col-12 col-lg-8 offset-lg-1">
						<div class="row mb-4">
							<div class="col">
								<h5 class="h6 text-dark-gray">{{ "Nom"|title }}</h5>
								<span class="d-block text-gray-dark">{{ entity.name|default("N/A") }}</span>
							</div>
							<div class="col">
								<h5 class="h6 text-dark-gray">{{ "Type"|title }}</h5>
								<span class="d-block text-gray-dark">{{ entity.typeName }}</span>
							</div>
						</div>
						<div class="row mb-4">
							<div class="col">
								<h5 class="h6 text-dark-gray">{{ "Admin"|title }}</h5>
								<span class="d-block text-gray-dark">{{ entity.admin|default("N/A") }}</span>
							</div>
							<div class="col">
								<h5 class="h6 text-dark-gray">{{ "Location"|title }}</h5>
								<span class="d-block text-gray-dark">{{ entity.place.fullname|default("N/A") }}</span>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h5 class="h6 text-dark-gray">{{ "Membres"|title }}</h5>
								<span class="d-block text-gray-dark">{{ entity.members|join(', ')|default("N/A") }}</span>
							</div>
							<div class="col">
								<h5 class="h6 text-dark-gray">{{ "Active"|title }}</h5>
								<span class="d-block text-gray-dark">
									{% if entity.enabled %}{{ "Oui"|trans }}{% else %}{{ "Non"|trans }}{% endif %}
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		{# Footer #}
		{{ include('super_admin/_footer.html.twig') }}
	</div>

	{# Right Aside #}
	<div class="col offset-3 col-lg-3 offset-lg-0">

		<div class="mt-2 bg-white rounded">
			<a href="#" class="btn text-dark btn-block btn-link d-flex align-items-center">
				<i class="fas fa-fw fa-lg fa-cogs mr-2"></i>
				<span>{{ "Actions"|trans }}</span>
				{# <i class="fas fa-caret-down ml-auto"></i> #}
			</a>
			<hr class="my-0">
			<div class="body p-3">
				{# List button #}
				<a href="{{ path(routes.index) }}" 
					class="btn btn-block btn-info mb-3 text-left">
					<i class="fas fa-list-ol fa-fw mr-2"></i>
					<span>{{ "Aller à liste"|trans }}</span>
				</a>

				{# Update button #}
				<a href="{{ path(routes.edit, {id: entity.id}) }}" 
					class="btn btn-block btn-dark mb-3 text-left">
					<i class="fa fa-edit fa-fw mr-2"></i>
					<span>{{ "Modifier"|trans }}</span>
				</a>

				{# Delete button #}
				{{ include('form/_delete_form.html.twig', 
					{link: path(routes.delete, {id: entity.id})}, with_context = false) }}
			</div>
		</div>

		<div class="mt-3 mb-4 bg-white rounded">
			<a href="#" class="btn text-dark btn-block btn-link d-flex align-items-center">
				<i class="fas fa-fw fa-lg fa-info-circle mr-2"></i>
				<span>{{ "Informations"|trans }}</span>
				{# <i class="fas fa-caret-down ml-auto"></i> #}
			</a>
			<hr class="my-0">
			<div class="body p-3">
				<div class="row mb-3">
					<div class="col col-lg-6">
						<span class="d-block text-dark-gray small font-weight-bold">{{ "Créé"|trans }}</span>
						<span class="d-block text-gray-dark small">{{ entity.created|date }}</span>
					</div>
				</div>
				<div class="row">
					<div class="col col-lg-6">
						<span class="d-block text-dark-gray small font-weight-bold">{{ "Modifié"|trans }}</span>
						<span class="d-block text-gray-dark small">{{ entity.modified|date }}</span>
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
