{% extends 'admin/layout.html.twig' %}

{% set currentModule = "user" %}
{% set notifMsg = "" %}
{% set notifType = "" %}

{% set routes = {
	index: 'admin_fleetmanagement_accident_index',
	new: 'admin_fleetmanagement_accident_new',
	edit: 'admin_fleetmanagement_accident_edit',
	show: 'admin_fleetmanagement_accident_show',
	delete: 'admin_fleetmanagement_accident_delete'
} %}


{# Title #}
{% block title %}
    {{ parent() }} - 
    {{ "Lister vehicules"|trans }}
{% endblock title %}

{# Heading #}
{% block layout_header %}
    <nav aria-label="breadcrumb" data-notify="{{ notifMsg }}" data-notify-type="{{ notifType }}">
        <ol class="breadcrumb bg-transparent small mb-2 p-0">
            <li class="breadcrumb-item active" aria-current="page">{{ app.user.username|title }}</li>
            <li class="breadcrumb-item active" aria-current="page">{{ "Utilisateur"|trans }}</li>
        </ol>
    </nav>

    {# Page header #}
    <div class="row d-flex align-items-center">
    	<div class="col-12 col-lg mb-3 mb-lg-0">
			<h1 class="h2 text-light-black">{{ "Lister ..."|trans|title }}</h1>
    	</div>
		<div class="col-12 col-lg text-lg-right">
			<a href="{{ path(routes.new) }}" class="btn btn-danger">
				<i class="fa fa-plus mr-2"></i>{{ "Nouveau ..."|trans|title }}
			</a>
		</div>
    </div>
{% endblock %}

{% block layout_container %}

    <table id="contentList" class="table custum-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Details</th>
                <th>Location</th>
                <th>Deaths</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for accident in accidents %}
            <tr>
                <td>{{ accident.id }}</td>
                <td>{{ accident.details }}</td>
                <td>{{ accident.location }}</td>
                <td>{{ accident.deaths }}</td>
                <td>{{ accident.date ? accident.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_fleetmanagement_accident_show', {'id': accident.id}) }}">show</a>
                    <a href="{{ path('admin_fleetmanagement_accident_edit', {'id': accident.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
